<html>
<head>
    <title>Full HTML</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/favicon.ico?v=2" type="image/x-icon" />
    @*<link rel="icon" href="/favicon.ico" type="image/x-icon" />*@
</head>
<body>
    <h1>Fully working HTML</h1>

    <img src="/img/cat.jpg" />

    <script src="/js/index.js"></script>
</body>
</html>
